<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title"><a href="/">Admin Home</a></h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="../../index.html">
                                <i class="fas fa-home"></i> White Rabbit</a>
                        </li>
                        <li class="breadcrumb-item active">User Details</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <br>



     